<footer class="bg-dark text-center text-white py-3 mt-auto shadow-lg">
    <div class="container">
        <small>&copy; @DateTime.Now.Year - İmtahan Proqramı Dashboard. Bütün hüquqlar qorunur.</small>
    </div>
</footer>